{%  extends 'Blog/base.html'%}
{%block content%}
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8">
        <!-- Blog Post -->
          <div class="card mb-4 mt-4">
            <div class="card-header">
              Login to Your Account
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a href="{%url 'register'%}">Not an Account?</a>
                </form>

            </div>
          </div>


      </div>




    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
{%endblock%}